<p id="notice"><%= notice %></p>

<%= image_tag "_header.png" %>

<h1>Blogs</h1>

<%= render 'blogcard' %>

<br>

<a class="btn-floating btn-large waves-effect waves-light red" href="/blogs/new"><i class="material-icons">class</i></a>