<div class="card-panel amber lighten-2">
  <div class="row">
   <div class="divider"></div>
  <div class="section">
    <h3>Betsy Montoya</h3>
  </div>  
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header deep-purple"><i class="material-icons">filter_drama</i>Master’s Degree in Family Studies and Human Development</div>
          <div class="collapsible-body"><span>
        <p>Utah State University</p>
        <p>Classes taught by Elizabeth Montoya, or Miss Betsy, a Master’s Degree in Family Studies and Human Development. She has been teaching here for 5+ years and has had very successful student progression. She loves her position and her students very much!</p>
      </span></div>
        </li>
        <li>
          <div class="collapsible-header blue"><i class="material-icons">place</i>Growing Up</div>
          <div class="collapsible-body"><span><p>Betsy grew up in Grand Junction, Colorado. She comes from a family of four children and is the youngest. One of her fondest memories is of the playschool that she attended as a child and has always wanted to become a teacher.</p>
    </span></div>
        </li>
        <li>
          <div class="collapsible-header teal"><i class="material-icons">whatshot</i>Career</div>
          <div class="collapsible-body"><span><p>Betsy and her family moved to Vernal, Utah where Betsy was able to complete her Bachelor’s Degree with Honors and finally open her own preschool. In 2006, Betsy and her family relocated to Santaquin because of a job transfer for her husband. Rod works for the State of Utah as a Network Specialist.  Betsy has four children, all boys, ages 22, 20, 16 and 10. Miss Betsy completed her Master’s Degree in 2010 from Utah State University.</p>
    </span></div>
        </li>
        <li>
          <div class="collapsible-header blue"><i class="material-icons">account_circle</i>Personal Life</div>
          <div class="collapsible-body"><span><p>After graduating from high school, she went to Ricks College and completed her Associate Degree. She had met and married her husband within the first year at Ricks and had her first child just after graduation. She and her husband moved to Salt Lake City and then to Layton, Utah. This is where her first child started preschool and Betsy realized while helping in his class that she wanted to teach preschool instead of elementary school. She taught for a time for Davis School District in their preschool program. </p>
    </span></div>
        </li>
      </ul>
  </div>
</div>

  <script>$(document).ready(function(){
    $('.collapsible').collapsible();
  });</script>