<div class="card-panel amber lighten-2">
  <div class="row">
    <div class="divider"></div>
      <div class="section">
        <h5>Children receive one on one attention!</h5>
        <p>Each child is an individual who is different from anyone else and learns differently, too!
        Free play time. Children learn by playing and we strive to make this work of learning and playing fun! Your child’s time at TLC is as developmentally productive as possible!
        An emphasis is placed on literacy and math skills. We learn a new letter each week and do fun activities to help us learn skills for reading and writing. We also emphasize skills such as rhyming, patterning, sorting, opposites and large and fine motor skills.</p>
      </div>
      <div class="divider"></div>
        <div class="section">
          <h6>Creativity and originality are highly encouraged!</h6>
          <p>I cannot stress enough the importance of allowing children to create original artwork. Creativity helps children be flexible in our changing world.</p>
        </div>
      <div class="divider"></div>
        <div class="section">
          <h6>Parental involvement is encouraged as well.</h6>
          <p>Parents are a child’s first and most important teachers! It is important to connect home and school. My policy is “open door” and I welcome parents in my classroom.</p>
        </div>
      <div class="divider"></div>
        <div class="section">
          <h6>Community partnership with Seasons of Santaquin care center-</h6>
          <p>about once a month we visit residents at the care center to enjoy mutually beneficial interactions of multi-generational friendships.</p>
        </div>
      </div>
    </div>