<footer class="page-footer amber">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="grey-text"><blockquote>The Learning Center <br> (TLC)Preschool</h5></blockquote>
                <p class="grey-text text-lighten-4">You’ll LOVE the difference TLC can make!</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="grey-text">Quick links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-1" href="/class_rosters">Classes</a></li>
                  <li><a class="grey-text text-lighten-1" href="/posts">Register</a></li>
                  <li><a class="grey-text text-lighten-1" href="/blogs">Blogs</a></li>
                  <li><a class="grey-text text-lighten-1" href="/portfolios">Portfolios</a></li>
                  <li><a class="grey-text text-lighten-1" href="/charges/new">Tuition</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
             2017 The Learning Center © | Owned by Elizabeth Montoya | Site created and maintained by, Jordan <a href="http://www.github.com/jmontoya811"><%= image_tag "github1.png", width: 35, height: 30, alt: "footer image", class: "footer-img" %>
  
</a>
            <a class="grey-text text-lighten-4 right" href="#!">Top</a>
            </div>
          </div>
        </footer>