<div class="card green lighten-2">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src=" ">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">

Find a a class, click for schedules<i class="material-icons right">more_vert</i></span>
      <p><%= link_to "CHOICE | Registration", posts_path %></p>
      <p><%= link_to "CHOICE | Class of 2018", class_rosters_path %></p>
    </div>
    <div class="card-reveal green lighten-1">
      <span class="card-title grey-text text-darken-4">Schedule<i class="material-icons right">close</i></span>
      <p>Class Times: Tuesday's and Thursday's weekly, Morning Class: 9:15 AM to 11:45 PM, Afternoon Class: 12:30 PM to 3:00 PM</p>
      
      <h4>Class Capacity: 12</h4>
      <hr>
      <%= @skills.inspect %>
    </div>
  </div>

  <div class="card green lighten-1">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="images/github1.png">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Explore curriculum<i class="material-icons right">more_vert</i></span>
      <p><a href="blogs">Blogs</a></p>
      <p><a href="portfolios">Portfolios</a></p>
    </div>
    <div class="card-reveal green lighten-3">
      <span class="card-title grey-text text-darken-4">Day to day curriculum<i class="material-icons right">close</i></span>
      <p>Here is some more information about the teacher and her methods.</p>
    <%= link_to "CHOICE | About", about_path %>
    </div>
  </div>