<nav>
    <div class="nav-wrapper green lighten-1">
    <a class="btn btn-floating btn-large pulse"><i class="material-icons">school</i></a> |
      <a href="/" class="brand-logo pulse"><%= image_tag "TLC.png", width: 70, height: 70, alt: "profile image", class: "profile-img" %><%= image_tag "_header.png", width: 300, height: 75 %></a>
      <ul class="navbar-custom">
        <li><%= nav_helper 'nav-link', 'span' %></li>
        <li><%= login_helper %></li>
      </ul>
    </div>
  </div>
  </nav>