<div class="slider">
    <ul class="slides">
      <li>
        <%= image_tag "Betsy_Montoyas_School.png" %>
        <div class="black-text caption left-align">
          <h2>The Learning Center!</h2>
          <h5 class="green-text text-lighten-3">You'll Love the difference TLC can make!</h5>
        </div>
      </li>
      <li>
         <%= image_tag "learntoplay.png" %>
        <div class="black-text caption left-align">
          <h2>Daily Playtime</h2>
          <h5 class="green-text text-lighten-3">We teach the children social skills and how to have fun!</h5>
        </div>
      </li>
      <li>
         <%= image_tag "kidscook.png" %>
        <div class="black-text caption right-align">
          <h3>Education through experience!</h3>
          <h5 class="green-text text-lighten-3">We have a variety of activites and field trips we experience!</h5>
        </div>
      </li>
      <li>
         <%= image_tag "Playtime.png" %>
        <div class="caption center-align">
          <h2>Parent Participation</h2>
          <h5 class="green-text text-lighten-3">Parents are always encouraged to help and contribute!</h5>
        </div>
      </li>
    </ul>
  </div>

  <script>
  $(document).ready(function(){
    $('.slider').slider();
    });
  </script>
