<h1>About the Teacher</h1>
<div class="card green lighten-2">
  <div class="row">
   <div class="divider"></div>
  <div class="section">
    <h5>Betsy Montoya</h5>
    <p>Master’s Degree in Family Studies and Human Development</p>
    <p>Utah State University</p>
    <p>Classes taught by Elizabeth Montoya, or Miss Betsy, a Masters of Child Development and Education. She has been teaching here for 5+ years and has had very successful student progression. She loves her position and her students very much!</p>
  </div>
  <div class="divider"></div>
  <div class="section">
    <h6>Growing up..</h6>
    <p>Betsy grew up in Grand Junction, Colorado. She comes from a family of four children and is the youngest. One of her fondest memories is of the playschool that she attended as a child and has always wanted to become a teacher.</p>
  </div>
  <div class="divider"></div>
  <div class="section">
    <h6>Career</h6>
    <p>After graduating from high school, she went to Ricks College and completed her Associate Degree. She had met and married her husband within the first year at Ricks and had her first child just after graduation. She and her husband moved to Salt Lake City and then to Layton, Utah. This is where her first child started preschool and Betsy realized while helping in his class that she wanted to teach preschool instead of elementary school. She taught for a time for Davis School District in their preschool program. </p>
  </div>
  <div class="divider"></div>
  <div class="section">
    <h6>Personal Life</h6>
    <p>Betsy and her family moved to Vernal, Utah where Betsy was able to complete her Bachelor’s Degree with Honors and finally open her own preschool. In 2006, Betsy and her family relocated to Santaquin because of a job transfer for her husband. Rod works for the State of Utah as a Network Specialist.  Betsy has four children, all boys, ages 22, 20, 16 and 10. Miss Betsy completed her Master’s Degree in 2010 from Utah State University.</p>  
  </div>

    <h3>Class Curriculum</h3>
    <table class="striped">
        <thead>
          <tr>
              <th>Time</th>
              <th>Activity</th>
              <th>Description</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>9:15- 10:00</td>
            <td>Free Play</td>
            <td>Toys, block, dolls and the like make this a fun time for children. I also work with children individually for a few minutes of this time to develop skills. This time is an essential part of our day!</td>
          </tr>
          <tr>
            <td>10:00-10:20</td>
            <td>Circle time</td>
            <td>This is our large group time. We sit around the circle and talk, sing play games and learn about the theme for the day as well as literacy activities. We each get to sit on a soft pillow!</td>
          </tr>
          <tr>
            <td>10:20-10:30</td>
            <td>Music and Movement</td>
            <td>We sing, dance and move all around.</td>
          </tr>
          <tr>
            <td>10:30-10:45</td>
            <td>Art Time</td>
            <td>Fun, creative and usually original, sometimes messy art!</td>
          </tr>
          <tr>
            <td>10:45-11:00</td>
            <td>Snack time.</td>
            <td>We sit down to have a snack and renew our energy. We build social skills, too!</td>
          </tr>
          <tr>
            <td>11:00-11:30</td>
            <td>Centers.</td>
            <td>We divide up into small groups and go to different center activities that cover a broad range of learning. This is usually the children’s favorite time!</td>
          </tr>
          <tr>
            <td>11:30-11:45</td>
            <td>Clean Up</td>
            <td> Pack up and closing circle.</td>
          </tr>
        </tbody>
      </table>
    

    
    
    <br>
    
    <p>Day to day Schedule
    Focus Points, Educational Standards
    Healthy Snacks and Activity Schedule
    </p>
   </div>
</div> 