<h1>Class Curriculum and about the Teacher</h1>
<p>Classes taught by Elizabeth Montoya, or Miss Betsy, a Master or Child Development and Education. She has been teaching here for 5+ years and has had very successful student progression. She loves her position and her students very much!</p>
<br>
<h3>Class Curriculum</h3>
<p>Day to day Schedule
Focus Points, Educational Standards
Healthy Snacks and Activity Schedule
</p>