<h1>About the Teacher</h1><hr>
<%= render 'shared/about_card' %>
   
    <br>
    
    
   
<h1>What is unique about TLC Preschool?</h1><hr>

<p>
    Focus Points, Educational Standards
</p>
<%= render 'shared/focus_card' %>
    
