<h3>Contact info and Location of The Learning Center Preschool</h3>
<div class="row">
    <div class="col s6">
        <h4>Miss Betsy's Contact info</h4>
        <p>Located in Santaquin, Utah</p>
        <p>Home Phone: 801-754-1399, Cell: 385-404-9924 </p>
        <p><a href="mailto:elizabeth.montoya@aggiemail.usu.edu?subject=TheLearningCenter" "email me">Email the Teacher</a> </p>
        <p>Facebook: <a href="http://www.facebook.com/TheLearningCenterPreschool1" "facebook">The Learning Center Facebook</a> </p>
    </div>
    <div class="col s6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3057.662199899836!2d-111.77207434908757!3d39.97130459043129!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874da8ae4e49a333%3A0x10a4e973e5691551!2s266+730+E%2C+Santaquin%2C+UT+84655!5e0!3m2!1sen!2sus!4v1512584672790" width="400" height="400" frameborder="2" style="border:1.5" allowfullscreen></iframe>
    </div>
</div>
<div class="row">
    <div class="col s12">
     <h6>Current students:</h6>
        <p>Things to look for...</p>
        <p>Email: Please check your email often, including your spam box.</p> 
        <p>Group me App: I will use this app to send out quick messages and reminders. </p> 
        <p>Parent Postcard: Each day your child will come home with a parent postcard. This is a summary of what we did in preschool that day. This helps you to talk with them about what we learned and ask them about their day at preschool!</p>
        <p>Homework Heroes: Most days, on the bottom of the parent postcard, there is a homework hero activity. This is a simple activity for you to do with your child that will reinforce what we learn each day!</p>
    </div>
</div>    