<h2>Hi, <%= current_user.first_name %>, Welcome to The Learning Center!</h2>
<hr>
<%= link_to "CHOICE | Registration", posts_path %>
<br>
<%= link_to "CHOICE | Tuition", new_charge_path %>

<%= render 'shared/home_card'%>
<hr>

<h2>Blog Posts</h2>
<hr>


