<h1>Tuition and Payments</h1>
<p>The material fee is a one time payment of $50.00, any other monies owed can be paid through here as well.</p>
<p>The Tuition payment form is set to the amount of $65.00, this is due monthly. Thanks!</p>
<hr>
<%# <%= link_to 'Material Fee Deposit', new_deposit_path %> %>
<%# <a class="btn-floating btn-large waves-effect waves-light green" href="/deposit/new"><i class="material-icons">payment</i></a> %>
<%# <br> %>
<%= link_to 'Monthly Tuition', new_charge_path %>
<a class="btn-floating btn-large waves-effect waves-light green darken-2" href="/charges/new"><i class="material-icons">class</i></a>