<h1>The Learning Center Schedules</h1>
<h3>Morning Activity Schedule</h3>
    <hr>
    <table class="striped">
        <thead>
          <tr>
              <th>Time</th>
              <th>Activity</th>
              <th>Description</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>9:15- 10:00</td>
            <td>Free Play</td>
            <td>Toys, block, dolls and the like make this a fun time for children. I also work with children individually for a few minutes of this time to develop skills. This time is an essential part of our day!</td>
          </tr>
          <tr>
            <td>10:00-10:20</td>
            <td>Circle time</td>
            <td>This is our large group time. We sit around the circle and talk, sing play games and learn about the theme for the day as well as literacy activities. We each get to sit on a soft pillow!</td>
          </tr>
          <tr>
            <td>10:20-10:30</td>
            <td>Music and Movement</td>
            <td>We sing, dance and move all around.</td>
          </tr>
          <tr>
            <td>10:30-10:45</td>
            <td>Art Time</td>
            <td>Fun, creative and usually original, sometimes messy art!</td>
          </tr>
          <tr>
            <td>10:45-11:00</td>
            <td>Snack time.</td>
            <td>We sit down to have a snack and renew our energy. We build social skills, too!</td>
          </tr>
          <tr>
            <td>11:00-11:30</td>
            <td>Centers.</td>
            <td>We divide up into small groups and go to different center activities that cover a broad range of learning. This is usually the children’s favorite time!</td>
          </tr>
          <tr>
            <td>11:30-11:45</td>
            <td>Clean Up</td>
            <td> Pack up and closing circle.</td>
          </tr>
        </tbody>
      </table>

    <h3>Afternoon Activity Schedule</h3><hr>
    <table class="striped">
        <thead>
          <tr>
              <th>Time</th>
              <th>Activity</th>
              <th>Description</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>12:30-1:15 PM</td>
            <td>Free Play</td>
            <td>Toys, block, dolls and the like make this a fun time for children. I also work with children individually for a few minutes of this time to develop skills. This time is an essential part of our day!</td>
          </tr>
          <tr>
            <td>1:15-1:30 PM</td>
            <td>Circle time</td>
            <td>This is our large group time. We sit around the circle and talk, sing play games and learn about the theme for the day as well as literacy activities. We each get to sit on a soft pillow!</td>
          </tr>
          <tr>
            <td>1:30-1:40 PM</td>
            <td>Music and Movement</td>
            <td>We sing, dance and move all around.</td>
          </tr>
          <tr>
            <td>1:40-1:55 PM</td>
            <td>Art Time</td>
            <td>Fun, creative and usually original, sometimes messy art!</td>
          </tr>
          <tr>
            <td>1:55-2:10 PM</td>
            <td>Snack time.</td>
            <td>We sit down to have a snack and renew our energy. We build social skills, too!</td>
          </tr>
          <tr>
            <td>2:10-2:40 PM</td>
            <td>Centers.</td>
            <td>We divide up into small groups and go to different center activities that cover a broad range of learning. This is usually the children’s favorite time!</td>
          </tr>
          <tr>
            <td>2:40-3:00 PM</td>
            <td>Clean Up</td>
            <td> Pack up and closing circle.</td>
          </tr>
        </tbody>
      </table>