/*
*= require_tree .
*= require_self
*= require jquery-ui
*/
@import "jquery-ui";
@import "materialize";
@import "gritter";

.navbar-custom {
    float: right;
}

.nav-link {
    display: table-row;
    direction: ltr;}

a.brand-logo:hover {
   background-color: rgb(244, 255, 89);
}


    nav {
    height: 100px;
    line-height: 100px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 100px;
    line-height: 100px;
}

nav .button-collapse i {
    height: 100px;
    line-height: 100px;
}

nav .brand-logo { 
    font-size: 1.6rem; 
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 100px;
        line-height: 100px;
    }
}

body {
    color: #666;
    background-color: #00e9fa;
    font-family: Montserrat, Source Sans Pro, sans-serif;
}

.row {
    border: 5px solid #666;
}
.progress {
  position: relative;
  height: 8px;
  display: block;
  width: 100%;
  background-color: lighten($progress-bar-color, 40%);
  border-radius: 2px;
  background-clip: padding-box;
  margin: 0.5rem 0 1rem 0;
  overflow: hidden;
}

  .determinate {
    position: absolute;
    background-color: inherit;
    top: 0;
    bottom: 0;
    background-color: $progress-bar-color;
    transition: width 3s linear;
  }