<div class="fixed-action-btn horizontal">
            <a class="btn-floating btn-large red">
              <i class="large material-icons">mode_edit</i>
            </a>
            <ul>
              <li><a class="btn-floating red" name="class_roster[edit_class_roster]" id="edit_class_id" href="/class_rosters"><i class="material-icons">clear_all</i></a></li>
              <li><a class="btn-floating yellow darken-1" href="/edit"><i class="material-icons">format_quote</i></a></li>
              <li><%= link_to(@class_roster, :method=>:delete, class: "btn-floating green", data: { confirm: 'Are you sure?' }) do %>
              <i class='material-icons'>delete</i><% end %>
                </li>
                
              <li><a class="btn-floating blue" href="/class_rosters/new"><i class="material-icons">publish</i></a></li>
            </ul>
        </div>