<p id="notice"><%= notice %></p>

<%= render 'shared/class_roster_card' %>

<%= render 'shared/student_roster_card' %>

<hr>
<a class="btn-floating btn-large waves-effect waves-light red" href="/class_rosters/new">
<i class="material-icons">add</i></a>
